<!DOCTYPE html>
<html lang="es" ng-app="simuladorApp">
<head>
  <meta charset="UTF-8">
  <title>.:: Simulador ::.</title>

  <!-- CSS - Bootstrap -->
  <link rel="stylesheet" href="public/third-party/bootstrap/css/bootstrap.min.css">

  <!-- CSS - Propio -->
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>

  <div class="container-fluid">
    <div class="row seccion-header" ng-controller="HeaderCtrl as header">
      <div class="col-lg-12">
        <div class="btn btn-primary" ng-click="zoomIn()">ZoomIn</div>
        <div class="btn btn-primary" ng-click="zoomOut()">ZoomOut</div>
        <div class="btn btn-warning" ng-click="exportar()">Exportar</div>
        <div class="btn btn-danger" ng-click="guardar()">Guardar</div>
        <div class="btn btn-default" ng-click="conexion()">Conexión</div>
        <div class="btn btn-default" ng-click="linea()">Línea</div>
        <div class="btn btn-danger pull-right" ng-click="calcular()">Calcular</div>
        <input type="file" fileread="file">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 ctnd-paleta" ng-controller="PaletaCtrl as paleta">
        <paleta>
          <div class="ctnd-canvas" ng-repeat="elemento in svgElemOrdenados()">
            <div id="canvas-paleta-{{ $index }}" data-name="{{ elemento.NAME }}"></div>
          </div>
        </paleta>
      </div>
      <div class="col-lg-9 ctnd-diagrama" ng-controller="DiagramaCtrl as diagrama">
        <diagrama>
          <div id="canvas-diagrama"></div>
        </diagrama>
      </div>
      <div class="col-lg-2 ctnd-user-data" ng-controller="UserDataCtrl as userData">
        <userdata></userdata>
      </div>
    </div>
    <div class="row"></div>
  </div>


  <!-- Scripts - Draw2D - libs -->
  <script src="public/third-party/draw2d/lib/jquery-1.10.2.min.js"></script>
  <script src="public/third-party/draw2d/lib/jquery.autoresize.js"></script>
  <script src="public/third-party/draw2d/lib/jquery-touch_punch.js"></script>
  <script src="public/third-party/draw2d/lib/jquery.contextmenu.js"></script>
  <script src="public/third-party/draw2d/lib/shifty.js"></script>
  <script src="public/third-party/draw2d/lib/raphael.js"></script>
  <script src="public/third-party/draw2d/lib/rgbcolor.js"></script>
  <script src="public/third-party/draw2d/lib/canvg.js"></script>
  <script src="public/third-party/draw2d/lib/Class.js"></script>
  <script src="public/third-party/draw2d/lib/json2.js"></script>
  <script src="public/third-party/draw2d/lib/pathfinding-browser.min.js"></script>

  <!-- Scripts - Draw2D - src -->
  <script src="public/third-party/draw2d/src/draw2d.js"></script>

  <!-- Scripts - AngularJS -->
  <script src="public/third-party/angular-js/angular.min.js"></script>

  <!-- Scripts - Jquery UI -->
  <script src="public/third-party/jquery-ui/jquery-ui.min.js"></script>

  <!-- Scripts - UI Bootstrap -->
  <script src="public/third-party/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

  <!-- Scripts - FileSaver -->
  <script src="public/third-party/FileSaver/FileSaver.js"></script>

  <!-- Scripts - Math JS -->
  <script src="public/third-party/math-js/math.min.js"></script>

  <!-- Scripts - Otros -->
  <script src="public/js/helpers.js"></script>

  <!-- Scripts - Lógica -->
  <script src="public/js/Globales.js"></script>
  <script src="public/js/Locators.js"></script>
  <script src="public/js/Ports.js"></script>
  <script src="public/js/SVGs.js"></script>
  <script src="public/js/Figures.js"></script>
  <script src="public/js/app.js"></script>
  <!-- Servicios -->
  <script src="public/js/services/DefaultSrvc.js"></script>
  <script src="public/js/services/FiguresSrvc.js"></script>
  <script src="public/js/services/CalculosSrvc.js"></script>
  <script src="public/js/services/StorageSrvc.js"></script>
  <script src="public/js/services/MixinSrvc.js"></script>
  <!-- Controladores -->
  <script src="public/js/controllers/HeaderCtrl.js"></script>
  <script src="public/js/controllers/PaletaCtrl.js"></script>
  <script src="public/js/controllers/DiagramaCtrl.js"></script>
  <script src="public/js/controllers/UserDataCtrl.js"></script>
  <script src="public/js/controllers/SaveAsCtrl.js"></script>
  <!-- Directivas -->
  <script src="public/js/directives/PaletaDrtv.js"></script>
  <script src="public/js/directives/DiagramaDrtv.js"></script>
  <script src="public/js/directives/UserDataDrtv.js"></script>
  <script src="public/js/directives/FormatDrtv.js"></script>
  <script src="public/js/directives/FileReadDrtv.js"></script>
</body>
</html>