<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>.:: Simulador ::.</title>

  <!-- Estilos -->
  <link rel="stylesheet" href="css/joint.min.css">
  <link rel="stylesheet" href="third-party/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
  <link rel="stylesheet" href="third-party/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="third-party/jquery-terminal/jquery.terminal.css">
  <link rel="stylesheet" href="css/paleta.css">
  <link rel="stylesheet" href="css/diagrama.css">
  <link rel="stylesheet" href="css/consola.css">
  <link rel="stylesheet" href="css/propiedades.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Google web fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="main-header" ng-controller="headerCtrl">
    <button class="calcular boton" ng-click="calcular()">Calcular</button>
    <button class="rotar-der boton" ng-click="rotarDerecha()">Rotar Der</button>
    <button class="rotar-izq boton" ng-click="rotarIzquierda()">Rotar Izq</button>
    <button class="rotar-izq boton" ng-click="clickBotonLink('linea')">Línea</button>
    <button class="rotar-izq boton" ng-click="clickBotonLink('conexion')">Conexión</button>
    <!-- <button class="importar boton" ng-click="importarDiagrama()">Importar</button> -->
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="contenedor">
        <div class="col-lg-2">
          <div class="cont-paleta">
            <div class="panel-group paleta" id="paleta" ng-controller="paletaCtrl">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href=".collapse-1" data-toggle="collapse" data-parent="#paleta">Collapse 1</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in collapse-1">
                  <div class="panel-body">
                    <paleta elementos="elementos"></paleta>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href=".collapse-2" data-toggle="collapse" data-parent="#paleta">Collapse 2</a>
                  </h4>
                </div>
                <div class="panel-collapse collapse collapse-2">
                  <div class="panel-body">
                    asdasdasd
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="cont-central" >
            <div class="cont-diagrama" ng-controller="diagramaCtrl">
              <div class="herramientas">
                <a href="" class="eliminar"><span class="glyphicon glyphicon-remove-sign"></span></a>
              </div>
              <diagrama insertar-fn="insertarElemento(key, posX, posY)" seleccionar-fn="seleccionarElemento(modelId)"></diagrama>
            </div>
            <div class="cont-consola" ng-controller="consolaCtrl">
              <consola></consola>
            </div>
          </div>
          <div class="cont-propiedades" ng-controller="propiedadesCtrl">
            <propiedades></propiedades>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts externos -->
  <script src="third-party/jointjs/js/joint.js"></script>
  <script src="third-party/jointjs/js/joint.shapes.devs.js"></script>
  <script src="third-party/jointjs/js/joint.shapes.logic.js"></script>
  <script src="third-party/jquery-ui/js/jquery-1.10.2.js"></script>
  <script src="third-party/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
  <script src="third-party/jquery-mousewheel/jquery.mousewheel.min.js"></script>
  <script src="third-party/jquery-terminal/jquery.terminal-0.8.8.min.js"></script>
  <script src="third-party/bootstrap/js/bootstrap.min.js"></script>
  <script src="third-party/angular-js/js/angular.min.js"></script>
  <script src="third-party/math-js/math.min.js"></script>
  <!-- Helpers -->
  <script src="js/lib-matematica.js"></script>
  <script src="js/lib-electrica.js"></script>
  <script src="js/helpers.js"></script>
  <!-- Data -->
  <script src="js/modelos.js"></script>
  <script src="js/lib-elementos.js"></script>
  <!-- Angular JS -->
  <script src="js/ng-app.js"></script>
  <script src="js/ng-services.js"></script>
  <script src="js/ng-directives.js"></script>
  <script src="js/ng-controllers.js"></script>
</body>
</html>
