<div class="modal-header">
  <button type="button" class="close" ng-click="cerrar()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Resultados</h4>
</div>
<div class="modal-body">
  <tabset type="pills">
    <tab heading="Voltajes finales">
      <table class="table">
        <tr>
          <th class="text-center">Posición</th>
          <th class="text-center">Valor</th>
        </tr>
        <tr ng-repeat="(key, value) in dataVoltajes">
          <td class="text-center">{{ key }}</td>
          <td class="text-center" ng-bind-html="value"></td>
        </tr>
      </table>
    </tab>
    <tab heading="Admitancias">
      <table class="table">
        <tr>
          <th class="text-center">Posición</th>
          <th class="text-center">Valor</th>
        </tr>
        <tr ng-repeat="(key, value) in dataAdmitancias">
          <td class="text-center">{{ key }}</td>
          <td class="text-center">{{ value }}</td>
        </tr>
      </table>
    </tab>
  </tabset>
</div>